body {
  background-image: url("img/cliff.jpg");
  background-repeat: no-repeat;
  background-position: center fixed;
  background-size: cover;
  margin: 0;
}

.hamburger-div {
  background-color: white;
  text-align: right;
  padding: 10px;
  border-bottom: 1px solid grey;
}

#settings-div {
  background-color: white;
  padding: 20px;
  text-align: center;
}

.display-div {
  background-color: rgba(225, 225, 225, 0.7);
  padding: 20px;
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

#ham-icon {
  cursor: pointer;
}
